*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Chs {
    display: inline-flex;
    float: left;
    /* grid-template-rows: 20px/ auto auto auto auto auto auto auto auto;  */
    /* grid-template-columns: /auto auto auto auto auto auto auto auto; */
    height: 20px;
    width: 20px;
    background-color: brown;
}
.Chs:nth-child(odd){
    background-color: black;
}
.Chs:nth-child(even){
    background-color: red;
}

.Chss {
    display: inline-flex;
    float: left;
    height: 20px;
    width: 20px;
}
.Chss:nth-child(odd){
    background-color: red;
}
.Chss:nth-child(even){
    background-color: rgb(12, 12, 12);
}